#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
tsconfig.tsbuildinfo

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.vscode
.idea

#src
src
docs
temp

#examples
examples/
keus-platform-prototype/
keus/

#data
.zigbee_data/